<h1>This is event No.<%= @event[:id] %></h1>
<!--
controlerr中實例變數（instance variable）
顯示這一筆資料的內容
ex:
@event.name
@event.description
@event.is_public
@event.capacity
-->
<ul>
	<li>
		<p>Name of event: <%= @event.name %></p>
	</li>
	<li>
		<p>Description: <%= @event.description %></p>
	</li>
	<li>
		<p>Is public: <%= @event.is_public %></p>
	</li>
	<li>
		<p>Capacity: <%= @event.capacity %></p>
	</li>
</ul>

<%= link_to "Index" , events_path %>
<!--做一個超連結 show controller是events，action是index-->